<div class="container-fluid">
  <div align="center">
    <h1>{{title}}</h1>
    <h2>Welcome to {{title}}</h2>
    <p>Please <a href="/signup">Signup</a> or <a href="/login">Login</a> to start the game</p>
    <h3>How to play {{title}}</h3>
    <img src="https://dummyimage.com/600x400/64915c/fff.jpg&text=Cambiar+esta+imagen" alt="">
    <p>Do you know the <a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation">"Six degrees of separation"</a> idea? It's a social theory who mantains that all people in the world are six, or fewer, social connections away from each other. ¿How many connections are between you and Donald Trump? Six or fewer. ¿How many connections are between the Spice Girls and Mozart? Stepify is a game that uses the Spotify API to address an explanations for this important question. Also for practicing web programming and for fun, but you know...</p>
  </div>
</div>
