<div class="container-fluid">
  <div align="center">
    <h1>{{title}}</h1>
    <h2>Welcome to {{title}}</h2>
    <p>Please <a href="/signup">Signup</a> or <a href="/login">Login</a> to start the game</p>
    <h3>How to play {{title}}</h3>
    <img src="https://dummyimage.com/600x400/64915c/fff.jpg&text=Cambiar+esta+imagen" alt="">

    C/O https://placeholder.com/
  </div>
</div>