<div class="container-fluid">
  <div align="center">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <p>{{title}} is a game created by David García and Joan Carballo for the Ironhack's Module 2 Project using Node,
      MongoDB, Javascript and the Spotify's API.</p>
    <p>Please signup or login to start the game</p>
    <h3>How to play {{title}}</h3>
    <ul>
      <li>1 - Login or Signup</li>
      <li>2 - Start the game</li>
      <li>3 - </li>
    </ul>
  </div>
</div>