<div class="container-fluid">
  <div class="row">
    <div class="col" align="center">
      <div class="card" style="width: 15rem;">
        <p class="card-title">Initial</p>
        <img src="{{initialArtist.image}}" class="card-img-top" alt="Nicolas Cage">
        <div class="card-body">
          <h5 class="card-title">{{initialArtist.name}}</h5>
        </div>
      </div>
    </div>
    <div class="col-6" align="center">
      <p class="spotiTitle">REL ARTIST PAGE</p>
      <p class="spotiText">GO GO GO</p>
    </div>
    <div class="col" align="center">
      <div class="card" style="width: 15rem;">
        <p class="card-title">Final</p>
        <img src="{{finArtist.image}}" class="card-img-top" alt="Nicolas Cage">
        <div class="card-body">
          <h5 class="card-title">{{finArtist.name}}</h5>
          <a href="#" class="btn btn-outline-info btn-sm">Refresh</a>
        </div>
      </div>
    </div>
  </div>
</div>