<div class="container-login">
  <div class="photo"></div>
  <div class="login">
    <form method="POST" class="formLogin">
      <div>
        <h2>ACCOUNT SIGNUP</h2>
      </div>
      <div class="box-input">
        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="username"
          placeholder="User name" />
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn-login">SIGNUP</button>
    </form>
  </div>
</div>