<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h4 class="text-uppercase">Stepify</h4>
        <p>{{title}} is a game created by <a href="https://github.com/joancarballo">David García</a> and <a
            href="https://github.com/dgarciabravo13">Joan Carballo</a> for the Ironhack's Module 2 Project using Node,
          MongoDB, Javascript and the Spotify's API.</p>
        <p>You can view the code at our GitHub Project Page: <a href="https://github.com/IronDC/stepify">Stepify</a>.
          Feel free to fork it!</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

      </div>
      <!-- Grid column -->

</footer>
<!-- Footer -->